  @font-face{
    src: url(../Fonts/YesevaOne-Regular.ttf);
    font-family: 'Yeseva One', cursive;
  }

  @font-face{
    src: url(../Fonts/NunitoSans-Regular.ttf);
    font-family: 'Nunito Sans', sans-serif;
  }

  body{
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
  }

  body *{
    box-sizing: border-box;
  }

  .header{
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 2;
  }

  .container-header{
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    line-height: 15px;
    height: 83px;
    align-items: center;
    margin: 0 auto;
    max-width: 1230px;
    padding: 0 18px;
  }

  .logo{
    color: #E3B873;
    text-transform: uppercase;
  }

  .header-navigation{
    list-style: none;
    display: flex;   
  }

  .header-navigation__item{
    margin-right: 47px;
  }

  .header-navigation__item-home a{
    color: #E3B873;
    text-decoration: none;
    margin-right: 47px;
  }

  .header-navigation__item a{
    text-decoration: none;
    color: white;
  }

  .header-phone a{
    color: #E3B873;
    text-decoration: none;
  }

  .button{
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 1px solid transparent;
    padding: 13px 33px; 
    color: white;
    text-transform: uppercase;
    font-style: italic;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    cursor: pointer;
    margin-right: 15px;
  }

  .button:hover{
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    background: none;
    margin-right: 15px;
  }

  .hellopage1{
    background-image: url('../Images/hellopage.jpg');
    background-size: cover;
    height: 707px;
    position: relative;
  }

  .hellopage1::before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7)
  }

  .container-hellopage{
    z-index: 1;
    position: relative;
    padding-top: 194px;
    padding-right: 200px;
    margin: 0 auto;
    max-width: 1150px;
  }

  .title1{
    margin: 0;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 520px;
  }

  .rostov{
    color: #E3B873;
  }

  .text1{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    color:  #FFFFFF;
    max-width: 520px;
  }

  .hellopage2{
    background-color: #131313;
    height: 1074px;
    background-size: cover;
  }

  .container-window{
    max-width: 1150px;
    margin: 0 auto;
    padding-top: 107px;
    padding-bottom: 416px;
    display: flex;
    justify-content: space-between;
  }

  .toppage{
    width: 442px;
    padding-top: 80px;
  }

  .subtitle{
    margin: 0;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
    padding-top: 20px;
  }

  .text2{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
  }

  .interior{
    display: none;
  }

  .h3{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap: 1rem;
  }

  .leftpage2{
    width: 250px;
    align-items: left;
  }   

  .subtitle-little{
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
  }

  .text3{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
  }

  .hellopage2-navigation a{
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #E3B873;
    text-decoration: none;
    border-bottom: 1px solid #E3B873; 
  }

  .hellopage2-navigation-shadow a{
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    text-decoration: none;
    margin-left: 61px;
    border-bottom: #E3B873;
  }

  .window{
    width: 679px;
    height: 482px;
  }

  .vector{
    cursor: pointer;
    padding-top: 55px;
    display: flex;
    flex-direction: row;
  }

  .arrowleft{
    margin-right: 29px;
  }

  .point{
    border-radius: 50%;
    width: 9px;
    height: 9px;
    background-color: #FFFFFF;
    margin-right: 17px;
  }

  .point1{
    border-radius: 50%;
    width: 9px;
    height: 9px;
    background-color:rgba(255, 255, 255, 0.3);
    margin-right: 17px;
  }

  .point2{
    border-radius: 50%;
    width: 9px;
    height: 9px;
    background-color:rgba(255, 255, 255, 0.3);
    margin-right: 29px;
  }

  .container-video{
    max-width: 1150px;
    margin: 0 auto;
    margin-top: -400px;
    text-align: center;
    position: relative;
    padding-top: 40px;
    padding-bottom: 60px;
  }

  .subtitle-little-white{
    color: #FFFFFF;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
  }

  .camera{
    background-image: url('../Images/camera.svg');
    width: 32px;
    height: 28px;
    position: relative;
    margin: 0 auto;
  }

  .camera::before{
    content:"";
    position: absolute;
    border-bottom: 1.5px solid #E3B873;
    width: 32px;
    left: -50px;
    top: 15px;
  }  

  .camera::after{
    content:"";
    position: absolute;
    border-bottom: 1.5px solid #E3B873;
    width: 32px;
    left: 50px;
    top: 15px;
  }  

  .iframe-videobox{
    width: 750px;
    height: 472x;
    box-shadow: 10px 10px 30px 1.5px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
  }

  .topvideo{
    display: block;
    margin: 0 auto;
    padding-top: 50px;
    width: 750px;
    height: 472px;
  }

  .rectangle{
    margin-top: 63px;
  }

  .facility{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
    padding-top: 40px;
    padding-bottom: 70px;
    max-width: 680px;
    margin: 0 auto;
  }

  .form{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 760px;
    margin: 0 auto;
    justify-content: space-between;
    position: relative;
  }

  .form1{
    text-align: left;
    margin-bottom: 120px;
  }

  .form1 input{
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #363636;
  }

  .form1 label{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
  }

  .button1{
    width: 200px;
    font-style: normal;
    margin-top: -100px;
  }

  .button1:hover{
    border: 1px solid #E3B873;
    color: #E3B873;
    box-sizing: border-box;
    border-radius: 2px;
    background: none;
  }

  .checkbox-white{
    position: absolute;
    display: block;
    left: 200px;
  }

  .checkbox{
    z-index: -1;
    opacity: 0;
  }

  .checkbox + label{
    display: inline-flex;
    align-items: center;
    user-select: none;
    margin-top: 50px;
    cursor: pointer;
  }

  .checkbox+label::before{
    content: '';
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background: #E3B873;
  }

  .checkbox:checked+label::before{
    border-color: #E3B873;
    background-color: #E3B873;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }

  .container-repair{
    max-width: 1210px;
    margin: 0 auto;
  }
 
  .black{
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
  }

  .container-repair_icon{
    background-image: url('../Images/repair.svg');
    width: 28px;
    height: 28px;
    position: relative;
    margin: 0 auto;
  }

  .container-repair_icon::before{
    content:"";
    position: absolute;
    border-bottom: 1.5px solid #E3B873;
    width: 32px;
    left: -50px;
    top: 15px;
  }

  .container-repair_icon::after{
    content:"";
    position: absolute;
    border-bottom: 1.5px solid #E3B873;
    width: 32px;
    left: 50px;
    top: 15px;
  }

  .container-redecoration{
    display: flex;
    max-width: 1210px;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 100px;
  }
  
  .redecoration{
    display: flex;
    flex-direction: row;
    display: inline;
  }

  .redecoration_text{
    margin-top: -130px;
    display: block;
    width: 330px;
    height: 280px;
    background: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

  h4{
    margin: 0 auto;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    padding-left: 25px;
    padding-top:23px;
  }

  .redecoration_text_li{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
  }
  
  .from{
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;   
    position: relative;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    background-color: #E3B873;
    border-radius: 2px;
    padding: 8px 17px;
    color: #FFFF;
    width: 228px;
    height: 50px;
    margin-left: 30px;
  }

  .building{
    background-image: url('../Images/building.jpg');
    height: 780px;
    background-repeat: no-repeat;
    max-width: 1230px;
    padding-top: 5px;
    position: relative;
    margin: 0 auto;
  }

  .building_ul{
    list-style: none;
    margin-left: 250px; 
    margin-top: 100px; 
    max-width: 400px;
    position: relative;      
  }

  .building_number{
    background: #E3B873;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border-radius: 30px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    padding: 8px;  
  }
  
  .building_content{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #363636; 
    margin-left: 10px;
    max-width: 320px;
    display: inline-block;
  }

  .measurer{
    height: 500px;
    width: 505px;
    background: #131313;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
    position: absolute;
    left: 720px; 
    top: 70px;
    padding-top: 10px;
  }

  .white{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF; 
  }

  .measurer_white{
    margin-left:50px;
    margin-top: 38px;
    max-width: 380px;
  }

  .measurer_white label{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
  }

  .measurer_white input{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #FFFF;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #131313;
  }

  .checkbox1{
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  .checkbox1 + label{
    display: inline-flex;
    align-items: center;
    user-select: none;
    margin-top: 50px;
    cursor: pointer;
  }

  .checkbox1+label::before{
    content: '';
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background: #E3B873;
  }

  .checkbox1:checked+label::before{
    border-color: #E3B873;
    background-color: #E3B873;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    text-align: center;
  }
  
  .checkboxwhite{
    color: #FFFF;
    margin-left: 50px;
  }

  .button2{
    margin-left: 230px;
    margin-top: 15px;
    font-style: normal;
  }

  .pig{
    position: absolute;
    left: 740px;
    margin-top: 70px;
    display: flex;
  }

  .goldenpig{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
    display: inline-block;
    flex-direction: row;
  }

  .hellopage5{
    margin-top: 120px;
    margin-bottom: 70px;
  }

  .container-wildestdreams{
    background-image: url("../Images/wildestdreams.jpg");
    background-size: cover;
    height: 870px;
    margin: 0 auto;
    position: relative;
  }

  .container-wildestdreams::before{
    content: "";
    background-color: rgba(0, 0, 0, .8);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
  }

  .furniture{
    margin: 0 auto;
    position: relative;
    max-width: 1150px;
  }

  .wildestfan{
    z-index: 1;
    position: relative;
    max-width: 300px;
    padding-top: 110px;
    margin-left: 40px;
  }

  .loft{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 38px;
    color: #FFFFFF;
    list-style: none;
    cursor: pointer;
  }

  .loft_li{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 38px;
    color: #E3B873;
    border-bottom: 1px solid #E3B873;
    display: flex;
    flex-direction: column;
    width: 150px;
    margin-bottom: 20px;
  }

  .bigclock{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 400px;
    top: -40px;
    margin: 0 auto;
  }

  .chandelier{
    margin-top: 35px;
  }

  .sofa{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 800px;
    top: -100px;
    margin: 0 auto;
  }

  .orchid{
    margin-top: 35px;
  }

  .clockmobile{
    display: none;
  }

  .container-hand{
    background-image: url('../Images/hands.svg');
    width: 34px;
    height: 30px;
    position: relative;
    margin: 0 auto;
  }

  .container-hand::before{
    content:"";
    position: absolute;
    border-bottom: 1.5px solid #E3B873;
    width: 32px;
    left: -50px;
    top: 15px;
  }

  .container-hand::after{
    content:"";
    position: absolute;
    border-bottom: 1.5px solid #E3B873;
    width: 32px;
    left: 50px;
    top: 15px;
  }

  .hands{
    text-align: center;
  }

  .clients{
    margin: 0 auto;
    background-image: url("../Images/Toun.jpg");
    height: 950px;
    background-position: right bottom;
    background-repeat: repeat-x;
  }  

  .container-review{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1150px;
  }

  .reviews{
    border: Solid;
    color: #FFFFFF;
    offset: 0px, 10px;
    width: 330px;
    margin-left: 40px;
    margin-top: 40px; 
    box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.04); 
  }

  .fedosova{
    border-radius: 50%;
  }

  .fedosova_text{
    Font-family: Yeseva One;
    font-style: normal;
    font-size: 18px;
    line-height: 22.87px;
    line-height: 110%;
    text-align: Left;
    vertical-align: top;
    fill: Solid;
    color: #181818;
    display: inline-block;
    margin-bottom: 25px;
    margin-left: 15px;
    margin-top: 15px;
  }

  .reviews_text{
    font-family: Nunito Sans;
    font-style: normal;
    font-size: 13px;
    line-height: 23.4px;
    line-height: 180%;
    text-align: Left;
    vertical-align: Top;
    fill: Solid;
    color: #959595;
  }

  .size{
    display: flex;
    flex-direction: row;
    max-width: 290px;
    margin-bottom: -32px;
  }

  .metredays{
    width: 130px;
    background-color: #E3B873;
  }

  .metre{
    font-family: Yeseva One;
    font-style: normal;
    font-size: 17px;
    line-height: 23.56px;
    line-height: 120%;
    text-align: center;
    vertical-align: top;
    color: #FFFFFF;
    fill: Solid;
    display: inline-block;
  }

  .metre1{
    padding-top: 5px;
  }

  .calendar{
    margin-top: 12px;
    margin-left: 15px;
    margin-right: 12px;
  }

  .metredays2{
    display: inline;
    width: 160px;
    background-color: #E3B873;
    margin-left: 2px;
  }

  .container-map{
    background-image: url("../Images/tounmap.jpg");
    background-size: cover;
    height: 920px;
    margin: 0 auto;
    position: relative; 
  }

  .container-map::before{
    content: "";
    background: linear-gradient(to bottom, #181818, rgba(24, 24, 24, 0.8));
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
  }
  
  .questions{
    max-width: 883px;
    height: 480px;
    background-color: #181818;
    color: #FFFFFF;
    position: relative;
    top: -220px;
    padding-top: 30px;
    margin: 0 auto;
  }

  .form_map{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin: 0 auto;
  }

  .form_map_container{
    display: flex;
    flex-direction: row;
  }

  .white_map{
    width: 510px;
  }

  .white_map2{
    width: 230px;
  }

  .measurer_white_map{
    margin-left: 0;
    max-width: 460px;
  }

  .checkbox2{
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  .checkbox2 + label{
    display: inline-flex;
    align-items: center;
    user-select: none;
    margin-top: 50px;
    cursor: pointer;
    margin-bottom: 50px;
  }

  .checkbox2 + label::before{
    content: '';
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background: #E3B873;
  }

  .checkbox2:checked+label::before{
    border-color: #E3B873;
    background-color: #E3B873;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    color: #FFFFFF;
    text-align: center;
  }

  .button3{
    width: 200px;
  }

  .interactivemap{
    margin-top: -200px;
  }

  .subtitle-little-yellow{
    font-family: Yeseva One;
    font-style: Regular;
    font-size: 20px;
    text-align: center;
    color: #E3B873;
    position: relative;
    z-index: 1;
    text-transform: uppercase; 
  }

  .communication{
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
  }

  .letter{
    margin-right: 15px;
  }

  .map{
    position: relative;
    z-index: 1;
    padding-top: 30px;
    margin: 0 auto;
    display: block;
    align-items:center;
  }

  .mapmobile{
    display: none;
  }

  


  